<section ng-controller="ProductsController" ng-init="findUsers()">
  <div class="page-header">
    <h1>New Product</h1>
  </div>
  <div class="col-md-12">
    <form name="productForm" class="form-horizontal" ng-submit="create(productForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="title">Title</label>
          <input name="title" type="text" ng-model="title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="productForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Product title is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="code">Code</label>
          <input name="code" type="text" ng-model="code" id="code" class="form-control" placeholder="Product code" required>
          <div ng-messages="productForm.code.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Product code is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="price">Price</label>
          <input name="price" type="number" ng-model="price" ng-change="annualFee = (price * 0.20)" id="price" class="form-control" placeholder="Product price" required>
          <div ng-messages="productForm.price.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Product price is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="annualFee">Annual Fee</label>
          <input name="annualFee" type="number" ng-model="annualFee" id="annualFee" class="form-control" placeholder="Product $$$" required>
          <div ng-messages="productForm.annualFee.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Product $$$ is required.</p>
          </div>
        </div>
        
        <div class="form-group">
          <label for="owner">Product Owner</label>
          <ui-select ng-model="$parent.selectedUser">
            <ui-select-match>
              <span ng-bind="$select.selected.displayName"></span>
            </ui-select-match>
            <ui-select-choices repeat="user in (users | filter: $select.search) track by user._id">
              <span ng-bind="user.displayName"></span>
            </ui-select-choices>
          </ui-select>        
        </div>
        
        <div class="row">
          <div class="col-md-2">
            <div class="form-group" show-errors>
              <label for="version">Version</label>
              <input name="version" type="text" ng-model="version" id="version" class="form-control" placeholder="Product version" required>
              <div ng-messages="productForm.version.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Product version is required.</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group" show-errors>
              <label for="released">Release date</label>
              <p class="input-group">
                <input name="released" type="text" ng-model="released" ng-init="released = today()" id="released" class="form-control" placeholder="Release date"  ng-required="true" uib-datepicker-popup="dd.MM.yyyy" is-open="openedCreate"  close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="openCreate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
              <div ng-messages="productForm.released.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Release date is required.</p>
              </div>
            </div>
          </div>
        </div>
     
        <div class="form-group">
          <label for="description">Description</label>
          <textarea name="description" ng-model="description" id="description" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
